.imgFrame{

float:left;
margin-left: 10px;
}





#header{

  text-align:center;
  margin-bottom: 40px;
}



#button{
margin-left:10px;


}

#displayDiv{
margin-top:40px;


}


.gif{

  width:200px;
  height:200px;
}
